{% extends 'base.html' %}

{% block title %} Project Ennead{% endblock %}

{% block content %}

<div class="container">
    <div class="content">
        <img src="https://cdn.discordapp.com/attachments/959451114422534214/1036094590190624869/unknown.png" alt="" width="900px" height="500px">
        <img src="https://cdn.discordapp.com/attachments/959451114422534214/1045131763745300570/image.png" alt="" width="900px" height="500px">
        <button type="button" class="btn btn-secondary btn-lg" disabled>Next</button>
    </div>
</dic>



<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 200px;
  }
  
  .content {
    max-width: 800px; /* set a maximum width for your content */
    width: 100%;
  }
  </style>
{% endblock %}